mixin pokemonCard(card)

    div(class=`card ${card.type}`)
        div.row
            div.bold
                p=card.name
            div.bold
                p=`${card.hp} HP`
            div.icon
                img(src=`images/${card.type}.png`)
            div.edit.bold
                a(href=`/edit/${card.id}`) Edit
        div.row
            div.image
                img(src=card.picture)
        div.row.bottom-line.power
            div.icon
                -for (let i = 0; i < card.moveCostOne; i++)
                  img(src=`images/${card.type}.png`)
            div.bold.move
                p=card.moveNameOne
            div.bold.move
                p=card.moveCostOneNum
        div.row.bottom-line.power
            div.icon
                -for (let i = 0; i < card.moveCostTwo; i++)
                  img(src=`images/${card.type}.png`)
            div.bold.move
                p=card.moveNameTwo
            div.bold.move
                p=card.moveCostTwoNum
        div.row
            div.italic.bottom.icon
                p weaknesses
                if card.weaknessOne
                    img(src=`images/${card.weaknessOne}.png`)
                if card.weaknessTwo
                    img(src=`images/${card.weaknessTwo}.png`)
                if card.weaknessThree
                    img(src=`images/${card.weaknessThree}.png`)
            div.italic.bottom.icon
                p resistances
                if card.resistanceOne
                    img(src=`images/${card.resistanceOne}.png`)
                if card.resistanceTwo
                    img(src=`images/${card.resistanceTwo}.png`)
                if card.resistanceThree
                    img(src=`images/${card.resistanceThree}.png`)
            div.italic.bottom.icon
                p retreat cost
                -for (let i = 0; i < card.retreatCost; i++)
                  img(src='/images/colorless.png')